@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
  .modal-content {
    margin-left: 100px;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .modal-content {
    margin-left: -225px;
  }
}

@media only screen and (min-width: 1200px) {
}
